<html>
	<body>
		<form action="/search" method="post">
			<select name="searchOption">
			  	<option value="name">name</option>
			  	<option value="borough">borough</option>
			  	<option value="cuisine">cuisine</option>
			  	<!--
			  	<option value="photo">photo</option>
			  	<option value="photoMimetype">photoMimetype</option>
			  	/-->
			  	<option value="street">street</option>
			  	<option value="building">building</option>
			  	<option value="zipcode">zipcode</option>
			  	<option value="coord">coord</option>
			  	<input type="text" name="keyword">
			  	<input type="submit" value="search"><br>
			</select>
		</form>
	</body>
</html>
